In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv('train_titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df.drop(['PassengerId', 'Ticket','Cabin'], axis=1,  inplace= True)

print(df.columns.values)

['Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch' 'Fare' 'Embarked']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Fare      891 non-null    float64
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [7]:
df["Age"]= np.ceil(df["Age"])

In [8]:
df["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [9]:
age_mean = df['Age'].mean()

In [10]:
df.fillna(df.mean(), inplace = True)

In [11]:
df.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [12]:
#Replacing the missing values in the “Embarked” column with mode value
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [13]:
# check if all values have been replaced
print("Remaining NaN values: {}".format(df['Age'].isnull().sum()))

Remaining NaN values: 0

In [14]:
df.replace({'Sex':{'male':1, 'female':0}}, inplace = True)

In [15]:
X = df[['Age','Sex']]
y = df['Survived']

In [16]:
print(X)

           Age  Sex
0    22.000000    1
1    38.000000    0
2    26.000000    0
3    35.000000    0
4    35.000000    1
..         ...  ...
886  27.000000    1
887  19.000000    0
888  29.714286    0
889  26.000000    1
890  32.000000    1

[891 rows x 2 columns]

In [17]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

In [101]:
Xtrain, Xtest, ytrain, ytest = train_test_split (X, y, test_size= 0.2, shuffle = True)

In [102]:
print(Xtrain.shape,ytrain.shape)

(712, 2) (712,)

In [103]:
clf = LinearSVC()

In [104]:
clf.fit(Xtrain, ytrain)

F:\Anaconda\lib\site-packages\sklearn\svm\_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [105]:
t = clf.predict(Xtest)

In [106]:
print(t.shape, ytest.shape)

(179,) (179,)

In [107]:
clf.predict

In [108]:

clf.fit(Xtrain, ytrain)
y_pred_linear_svc = clf.predict(Xtest)
acc_linear_svc = round(clf.score(Xtrain, ytrain) * 100, 2)


print (acc_linear_svc)

78.93

F:\Anaconda\lib\site-packages\sklearn\svm\_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(